{% load static %}
<section id="banner" class="banner-wrapper">
    <div class="row">
        <div class="container">
            <div class="column-container author-column">
                <div class="availability">
                    <span class="animate-pulse"></span>
                    <span class="status-work">Available for work</span>
                </div>
                <div class="author-wrapper">
                    <h6>Hey there! I'm</h3>
                    <h1 class="typing-text">Alven Oblefias</h1>
                    <p>From concept to creation — building websites that are not only functional, but beautifully crafted.</p>
                </div>
            </div>
            <div class="column-container image-banner">
                <div class="round-wrapper">
                    <div class="image-round">
                        <div class="image-wrapper">
                            <img src="{% static 'images/alven.png' %}" alt="Author Image" class="portfolio-banner">
                        </div>
                    </div>
                </div>
                <div class="move-down">
                    <a href="#about" class="bounce">
                        <i class="fas fa-arrow-down"></i>
                    </a>
                </div>
            </div>
            <div class="column-container skill-info">
                <div class="role-wrapper">
                    <ul id="typing-list">
                        <li>Divi Theme</li>
                        <li>Elementor Builder</li>
                        <li>Theme Customization</li>
                        <li>Woocommerce</li>
                        <li>Shopify</li>
                        <li>Python Django</li>
                    </ul>
                    <div class="description">
                        <p>I am proficient in a range of frontend technologies and tools, including but not limited to.</p>
                    </div>
                </div>
                <div class="buttom-wrapper">
                    <button id="download-pdf">Download CV</button>
                </div>
                <div class="social-media">
                    <ul>
                        <li><a href="https://www.linkedin.com/in/alven-oblefias-3204b7112/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div> 
        </div>
    </div>
</section>